setuptools==68.0.0
pip
numpy
pandas
matplotlib
scipy
rich
folium
geopandas
shapely
fiona
rtree
pyproj
osmnx
earthengine-api
geemap
streamlit
streamlit_folium
google-auth
google-auth-oauthlib
google-auth-httplib2
oauth2client
requests

